@implements IDisposable

@inject NavigationManager NavigationManager

<h3 class="text-nowrap whitespace-nowrap text-2xl p-4 text-center bg-sky-800 text-white">
    <NavLink href="">@(title)</NavLink>
</h3>

<div class="bg-gradient-to-b from-sky-800 to-sky-200 via-sky-800
            text-xl w-full px-4 py-12 min-h-screen">

    <nav class="flex flex-col gap-4">

        @foreach (var menu in menus)
        {
            <NavLink class="text-slate-400 pl-8 py-2 h-auto
                            hover:text-white
                              whitespace-nowrap text-nowrap
                              rounded-lg"
                     href="@menu.Value.Href"
                     ActiveClass="bg-red-400 text-white"
                     @key="menu.Key">
                @menu.Value.Name
            </NavLink>
        }

        <NavLink class=" nav-link" href="auth">Auth Required</NavLink>

        <AuthorizeView>
            <Authorized>

                <NavLink class="text-slate-400" href="Account/Manage">
                    @context.User.Identity?.Name
                </NavLink>

                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                        <button type="submit" class="text-slate-400">
                            Logout
                        </button>
                    </form>
                </div>

            </Authorized>

            <NotAuthorized>
                <NavLink class="text-slate-400" href="Account/Register">
                    Register
                </NavLink>

                <NavLink class="text-slate-400" href="Account/Login">
                    Login
                </NavLink>
            </NotAuthorized>

        </AuthorizeView>
    </nav>
</div>

@code {
    private const string title = "Viv Game";

    private string? currentUrl;

    private readonly Dictionary<int, (string Name, string Href)> menus = new()
    {
        { 0, new ValueTuple<string, string>("Demo", "demo") },
        { 1, new ValueTuple<string, string>("Chat", "chat") },
        { 2, new ValueTuple<string, string>("블루마블", "blue-marble") },
        { 3, new ValueTuple<string, string>("블러그", "blog") },
    };

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}
