@page "/gamecatalog"
@using Models

<PageTitle>GameCatalog</PageTitle>

<div class="relative overflow-x-auto w-full p-4 h-dvh bg-sky-100">
  <table
         class="table-fixed text-sm text-gray-500  border-1 border-slate-400 border-collapse w-full">
    <thead class="text-xs text-gray-700 py-2 bg-gray-50">
      <tr class="h-12">
        <th>Id </th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      @foreach (var game in Games)
      {
        <tr>
          <td>@game.Id</td>
          <td>@game.Name</td>
          <td>@game.Genre</td>
          <td>@game.Price</td>
          <td>@game.ReleaseDate</td>
          <td>
            <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Edit </button>
          </td>
          <td>
            <button
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Delete </button>
          </td>
        </tr>
      }

    </tbody>
  </table>


</div>

@code
{

}
